* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
.brg-toglee {
    color: white;
    background-color: white;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

} */

/* HEADER */
/* header {
    width: 100%;
    height: 600px;
    background: linear-gradient(to right, #0c082caa, #0d0b2cfa, #131333), url(../imagenes/compuinicio.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
} */
/* añadirotro home */
* {
    margin: 0;
    padding: 0;
}

/* #cabecera {
    background: rgb(255, 255, 255);
    border-bottom: 0px solid rgba(255, 255, 255, 0);
}

#portada {
    background: rgba(59, 59, 59, 0.096);
}

header {
    display: block;
} */

.articulo {
    margin: 40px;
    padding: 35px;
    background: rgba(162, 0, 255, 0.295);
}

/* body>header {
    max-width: 100%;
    height: 130px;
    margin: auto;
    color: #000;
    text-align: center;
} */

.height-carousel {
    max-height: 600px;
    min-width: 100%;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.group-color {
    background: #00000073;
    color: white;
    padding: 10px;
    text-align: center;
}

.group--color .containers {
    background: #38383af1;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
}

.margin__title {
    margin: 15px;
    font-size: 1.8em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
}

.main__txt {
    padding: 8px;
    text-align: center;
}

.btn-primary {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    border-color: white;
    background: linear-gradient(180deg, #32c953d5 0%, #46c7d8c4 100%);
    color: white;
    font-weight: bold;
    padding: 10px;
}

.btn-lg {
    text-align: right;
    justify-content: center;
}


a.ejemplo1 {
    background: linear-gradient(180deg, #32c953 0%, #46c7d8 100%);
    color: black;
}

.container-footer {
    width: 100%;
    background:#333366;
    padding: 10px;
}

.main__about__description {
    flex-wrap: wrap;
}

.footer {
    max-width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.copyright {
    color: white;
}

.copyright a {
    text-decoration: none;
    color: white;
}

.information {
    text-align: right;
}

.information a {
    text-decoration: none;
    color: white;
}

/* modificaciones geraldine */
.bg-pink {
    background-color: transparent;
    transition: all 1.5s ease;
    color: white;
    font-weight: bold;
}

.main {
    background-color: #333366;
    color: #ffffff;
}

.letracolor {
    color: white;
    font-weight: bold;
}

.letracolor:hover {
    color: white;
    font-weight: bold;
}

.fa-bars {
    font-size: 30px;
    color: #ffffff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.texto-encima {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 500px;    
}
.letras-slaide{
    font-size: 40px;
}
.btn-primarys {    
    text-align: center;    
    width: 220px;
    border:2px solid #17c3d6c4 ;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition:all .5s ease;
}
.btn-primarys:hover {
    color: #264a4ec1;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.483);
    border-color: transparent;
}
.card-body{
    text-align: center;
}
.color-div-diferente{
    background-color:#3539399f ;
    padding: 35px;
    margin-top:-20px ;
}
.containers-center {
    margin: 40px 100px 0px 100px;
    text-align: center;
}
.nuestro-Grupo {
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
    text-align: center;
    margin-bottom: 40px;
    color:  #333366;

}
.galeria-port {

    display: flex;
    justify-content: space-evenly;

}
.jumbotron{
    margin-top: 5%;
}

/* 
.contenedorletras {
    display: flex;
    width: 80%;
    height: 70px;
    color: white;
    font-size: 45px;
    line-height: 70px;

    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0;
    margin: auto;

    overflow: hidden;
}

ul {
    list-style: none;
    padding-left: 10px;
    animation: cambiar 20s infinite;
}

p,
ul {
    margin-top: 0;
}

@keyframes cambiar {

    0% {
        margin-top: 0px;
    }

    20% {
        margin-top: 0px;
    }

    25% {
        margin-top: -70px;
    }

    40% {
        margin-top: -70px;
    }

    45% {
        margin-top: -140px;
    }

    80% {
        margin-top: -140px;
    }

    85% {
        margin-top: -70px;
    }

    95% {
        margin-top: -70px;
    }

    100% {
        margin-top: 0px;
    }

} */



/* .wave {
    position: absolute;
    bottom: 0;
    width: 100%;
} */

/* body de la pagina  */

/* .tarjeta {
    display: flex;
    align-items: center;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
} */
/* 
.card-tarjeta {
    display: flex;
    height: auto;
    width: 60%;
    background-color: #ffffff;
    border-radius: 5px;
    margin-left: 5%;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, .2);
    margin-top: 5%;
}

.headers {
    border-right: 1px solid #ffffff;
}

.descripcion {
    background-color: #ffffff;
} */

/* .headers .descripcion {
   
    text-align: center;
} */

/* .headers a {
    position: relative;
    display: block;
}

.headers img {
    border-radius: 5%;
    margin: 20px 30px;
    transition: .2s;
}

.headers h2 {
    color: rgba(9, 28, 56, 0.864);
    padding-left: 70px;
}

.descripcion p {
    margin: 20px 30px;
}

.descripcion .social {
    margin-top: 45px;
}
.fa-clock{
    color: white;
}

.descripcion .social a {
    display: inline-block;
    padding: 0 15px;
    color: rgba(0, 0, 0, .2);
}

.postularse {
    background-color: rgba(9, 28, 56, 0.864);
    width: 20%;
    height: 50px;
    border-radius: 9%;
    color: white;

}

.bg-boton {
    background-color: #131333;
    color: white;
    margin-bottom: 12%;
}

.bg-boton:hover {
    background-color: #0c0c44f3;
    color: white;
    margin-bottom: 12%;
} */


/* footer */

/* footer {
    background-color: #131333;
    padding: 60px 0 30px 0;
    
    overflow: hidden;
    
} */
/* 
.content-footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 200px;
    margin-top: 50px;

}

.titulo-final {
    text-align: center;
    font-size: 120%;
    margin-left: 10%;
    color: white;
} */
/* .bg-pink {
    background-color: #333366dc;
    background-color: transparent;
    transition: all 1.5s ease;
    color: white;
    font-weight: bold;
} */
/* 
.main {
    background-color: #333366;
    color: #ffffff;
}

.letracolor {
    color: white;
    font-weight: bold;
}

.letracolor:hover {
    color: white;
    font-weight: bold;
}

.fa-bars {
    font-size: 30px;
    color: #ffffff;
} */